<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body class="home">
  <%- include('./partials/nav.ejs') %>
  <h1>Klintsov Antony</h1>
  <p>Laboratory works on the subject KBD</p>
</body>
</html>
